body {
  font-family: 'human_sans', Helvetic, sans-serif;
  font-weight: 400;
  color: #6c7279;
  padding-top: 1px;
  font-size: 14px;
}

/* -----------------------------------------------------------------
   Typography
-----------------------------------------------------------------*/
/* Give them the desktop style first, then adjust styles in responsive_*.css */

p {
  font-size: 14px;
  line-height: 21px;
  font-family: 'human_sanslight', Helvetic, sans-serif;
}

h1 {
  font-family: 'human_sansbold', Lucida Family, sans-serif;
  font-size: 64px;
}

h2 {
    font-family: 'human_sansbold', Helvetic, sans-serif;
    font-size: 30px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}


/* --------------------------------------------------------------------
   For position
--------------------------------------------------------------------*/
/* Add some space related class here, so you can directly use 
once you need the space */
.bottom_space-sm{
  padding-bottom: 15px;
}

.bottom_space-md{
  padding-bottom: 30px;
}

.bottom_space-lg{
  padding-bottom: 48px;
}

/* --------------------------------------------------------------------
   General Style
--------------------------------------------------------------------*/

a {
  color: #000000;
}

a:hover,
a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* This is used to remove the padding of .col-* */
.no_pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/* The underline of the sub title */
.title_underline {
  margin-bottom: -5px;
  margin-top: -2px;
}

.title_underline hr{
  width: 56px;
  margin-left: 0;
  border-top: 2px solid #f3b00e;
}

.mark,mark{
	padding:.-1em;
	color:#000000;
	background-color:#ffc400;}
	
strong{
	color: #000;
}
b{
	color: #ffc400;
	font-size: larger;
}
/* ------------------------------------------------------------------------------
   Footer
   
-------------------------------------------------------------------------------*/

.footer {
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: rgb(84, 84, 84);
  padding: 5% 8% 0 5%;
  color: #fff;
}

.list_group {
  border-bottom: 1px solid #fff;
  clear: right;
  padding-bottom: 5%;
}

.block {
  padding-bottom: 10px;
}

.block li {
  display: block;
  font-size: 16px;
}

.footer h4 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
  color: #f3b00e;
}

.footer-share {
  justify-content: flex-end;
  display: flex;
}

.footer-share a {
  color: #000;
}

.footer-share li {
  display: inline-block;
  margin: 2px;
  float: none;
}

.footer-share a {
  border: none;
  font-size: 28px;
  letter-spacing: 15px;
}


/* To make the icon center */
.footer-share .fa-stack-1x {
  left: 3px;
  color: #545454;
}


.copyright_group {
  padding-top: 1%;
  padding-bottom: 1%;
  min-height: 50px;
}

.copyright_group .fa-heart {
  color: #e84545;
  font-size: 11px;
  margin: 0 2px;
}

.lang_group {
  color: #000;
  text-align: right;
}


/* For the language select style */
/* There is a lot of customized select example on Internet,
you can replace the following as you like */

.select-style {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  position: relative;
  width: 200px;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.select-style .glyphicon {
  position: absolute;
  right: 5px;
}

.select-style .top {
  top: 1px;
}

.select-style .bottom {
  top: 12px;
}



.white p, .white h2, .white h4{
	color:#fff;
}



.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    background-color: black;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



.intrinsic-container {
  position: relative;
  height: 0;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ==== clearfix ======== */

/* .clearfix is used to clear the fix of the bootstrap class */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
  zoom: 1;
}


/* IE7 */



/* mobile settings */

