/* md up
h1 65px
h2 40px
h3 28px
h4 22px
h5 18px
h6 16px
p  16px 
*/

/* sm
h1 32px
h2 28px
h3 24px
h4 20px
h5 16px
h6 14px
p  14px */

/* xs
h1 22px
h2 20px
h3 18px
h4 16px
h5 14px
h6 12px
p  12px */

@media screen and (max-width: 1440px) {
h2 {
   font-size: 28px;
}

	
	
	
}



@media screen and (max-width: 1024px) {
  .nav-toggle {
    display: block;
  }
  .navigation {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  .navigation .primary-nav {
    position: relative;
    top: 45%;
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
  }
  .navigation li {
    display: block;
    margin-bottom: 20px;
  }
  .navigation a {
    display: block;
    font-size: 25px;
    margin: 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  .testimonials blockquote {
    padding: 20px 5% 0;
  }
  .testimonials p {
    font-size: 26px;
  }
  .flex-control-nav {
    bottom: 20px;
  }
  .h2 {
   font-size: 24px;
  }

  
  
  
  
}

@media screen and (max-width: 768px) {
  /* sm
  h1 32px
  h2 28px
  h3 24px
  h4 20px
  h5 16px
  h6 14px
  p  14px */

  .full_section {
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
  
  #header-slider {
    height: 450px;
  }

  .carousel-control {
    visibility: hidden;
  }
  .carousel-caption {
    top: 10%;
    padding-bottom: 0;
  }
  .carousel-caption h1 {
    font-size: 42px;
  }
  .banner-text p {
    font-size: 18px;
  }
  .flex-control-nav {
    width: 100%;
  }
  .footer .footer-col {
    margin-bottom: 50px;
  }
  .detail-contentbox {
    background-color: #f2f2f2;
    padding: 6%;
  }
}

@media screen and (max-width: 640px) {
  .banner-text {
    padding-top: 35%;
  }
  .detail-contentbox {
    background-color: #f2f2f2;
    padding: 6%;
  }
}

@media screen and (max-width: 425px) {
  .full_section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo img {
    visibility: hidden;
    opacity: 0;
  }
  .nav-toggle {
    width: 36px;
    height: 36px;
    position: fixed;
    right: 3%;
  }

  .carousel-caption {
    padding-top: 7%;
  }
  .carousel-caption h1 {
    font-size: 32px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  .detail-contentbox {
    background-color: #f2f2f2;
    padding: 6%;
  }
}

@media screen and (max-width: 320px) {
/* xs
h1 22px
h2 20px
h3 18px
h4 16px
h5 14px
h6 12px
p  12px */

  .full_section {
    padding-left: 7px;
    padding-right: 7px;
  }
  
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
  
  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .section {
    padding: 0 0 20px 0;
  }
  #header .logo {
    font-size: 12px;
    color: #000;
    font-weight: 700;
    left: 0;
    text-transform: uppercase;
  }
  .nav-toggle {
    width: 32px;
    height: 32px;
    position: fixed;
    right: 3%;
    top: 10px;
  }
  .carousel-caption {
    height: 200px;
    bottom: 0px;
    color: black;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 10;
  }
  .carousel-caption h1 {
    /*visibility: hidden;*/
    text-align: center;
    padding-top: 40px;
  }
  .carousel-caption p {
    visibility: hidden;
    /*margin-top: 200px;
    text-shadow: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;*/
  }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 2px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 12px;
  }

  .detail-contentbox {
    background-color: #f2f2f2;
    padding: 6%;
  }
}
    position: absolute;
    right: auto;
    top: 50%;
    width: 12px;
  }

  .detail-contentbox {
    background-color: #f2f2f2;
    padding: 6%;
  }
}